main {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(purple, pink)
}
header {
    width: 100%;
    height: 50px;
    background-image:linear-gradient( 45deg ,lightblue 50%, orange 50%) ;
}

main {
    background-image: url("img/banner.webp");
    background-size: 2000px 1000px;
}
  

.flex_1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
h1{
    color:black;
    margin: 10px;
    font-family:'Lobster',cursive;
}
h2{
    
    font-size: xx-large;
    color:black;
    margin: 10px;
    font-family:'Lobster',cursive;
}
button{
    width: 250px;
    height: 250px;
    background-color: black;
}
.flex_2{
    width: 1500px;
    height: 750px;
    margin-left: 250px;
    margin-top: 250px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    float:inline-end;
}
